// update to force Omica refresh
manifest {
    name = 'VC_OncocanPlus'
    homePage = 'https://github.com/OMICA25/VC_OncocanPlus'
}
process {
    container = 'ghcr.io/omica25/vc_oncocanplus:latest'
}

docker {
    enabled = true
}

profiles {
  qc {
    process.when = { task.process == 'FASTQC' }
  }
}

profiles {
    ec2 {
        includeConfig 'conf/ec2.config'
    }

    local {
        includeConfig 'conf/local.config'
    }
}
