// update to force Omica refresh
manifest {
    name = 'VC_OncocanPlus'
    homePage = 'https://github.com/OMICA25/VC_OncocanPlus'
}
process {
    conda = "$projectDir/environment.yml"
}

profiles {
    ec2 {
        includeConfig 'conf/ec2.config'
    }

    local {
        includeConfig 'conf/local.config'
    }
}
