params {
  reads = "/home/ec2-user/VC_OncoCanPlus_local/data/test/*.fastq"
  fasta = "s3://omica-pipeline-data/examples/CanFam3.1ref.fa"
  bed   = "s3://omica-pipeline-data/examples/panel_ensembl.bed"
  annovar_home = "s3://omica-pipeline-data/examples/ANNOVAR_ref/"
  annovar_db   = "s3://omica-pipeline-data/examples/ANNOVAR_ref/"
  outdir = "results_test"
}
