/*
 * EC2 / Omica configuration
 * Fully validated for: https://github.com/OMICA25/VC_OncocanPlus
 */

params {
  reads = (params.reads && params.reads != 'null' && params.reads != '')
          ? params.reads
          : 's3://omica-pipeline-data/root/antonia@omicabiomed.com/*/InputData/*.{fastq,fastq.gz}'
  outdir = params.outdir ?: 'results'
  
    fasta = "s3://omica-pipeline-data/examples/CanFam3.1ref.fa"
    bed   = "s3://omica-pipeline-data/examples/panel_ensembl.bed"

    annovar_home = "s3://omica-pipeline-data/examples/ANNOVAR_ref/"
    annovar_db   = "s3://omica-pipeline-data/examples/ANNOVAR_ref/"

    isec_n = "+2"
    biomart_host = "https://may2021.archive.ensembl.org"
    biomart_dataset = "clfamiliaris_gene_ensembl"
    keep_intermediates = false
}
/*
 * Process-level settings for Omica EC2 runner
 */
process {
    /*
     * Build conda environment on Omica compute node
     * IMPORTANT: matches your repo file EXACTLY.
     */
    conda = "$projectDir/environment.yml"

    /*
     * Activate ngs_env after environment creation
     */
    beforeScript = "source ~/miniconda3/bin/activate ngs_env"

    /*
     * Omica executor: local execution on EC2 VM
     */
    executor = 'local'
    cpus     = 1
}
