// refresh
/*
 * EC2 / Omica configuration
 * Fully validated for: https://github.com/OMICA25/VC_OncocanPlus
 */
params {
  fasta = 's3://omica-pipeline-data/examples/CanFam3.1_ensembl.fa'
  bed = 's3://omica-pipeline-data/examples/panel_ensembl.bed'
  annovar_home = 's3://omica-pipeline-data/examples/ANNOVAR_ref'
  annovar_db = 's3://omica-pipeline-data/examples/annovar_files'
  isec_n = '+2'
  biomart_host = 'https://may2021.archive.ensembl.org'
  biomart_dataset = 'clfamiliaris_gene_ensembl'
  keep_intermediates = false
}
/*
 * Process-level settings for Omica EC2 runner
 */
process {
    executor = 'local'
    cpus = 1
}



